<div class="background-photo">
  <div class="content">
    <div class="header">
      <h1>Well Come</h1>
    </div>
    <div class="content-text">
      <p>To your Home Page <span id="user-name">{{name}}</span> !!!</p>
    </div>
    <div class="content-text2">
      <h3>Thank You!</h3>
    </div>
    <div class="content-btn">
      <a href="/logOut"><button >Log Out</button></a>
    </div>
  </div>
</div>
<style>
  body{
    margin: 0;
  }
    .background-photo {
  height: 100vh;
  width: 100%;
  background-image: url("https://static.pexels.com/photos/221451/pexels-photo-221451.jpeg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}       
.content{
  width: 400px;
  height: 225px;
  border-radius: 30px;
  border: 1px solid rgb(225, 224, 224);
  background-color: rgb(255, 255, 255, 0.2);
}
.header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.header h1{
  margin: 0;
  font-family: sans-serif;
  font-weight: 800;
  font-style: italic;
  color:white;
}
.header h1::first-letter{
  font-size: 80px;
  color: crimson;
}
.content-text{
  width: 100%;
  height: 30px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-text p{
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
  font-style: italic;
  color: white;
}
.content-text2{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-text2 h3{
  font-family: sans-serif;
  font-weight: 800;
}
.content-btn{
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-btn button{
  width: 95px;
    height: 30px;
    background: black;
    color: white;
    border: 1px solid 949393;
    border-radius: 30px;

}
.content-btn button:hover{
  background-color: rgb(38, 38, 38);
  color: white;
}
#user-name{
  text-transform:uppercase;
  font-size: 20px;
  font-weight: 800;
  color:#00ff81;
}
</style>